{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}
{% block body %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Portfolio</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Active Portfolio</li>
            </ol>
            <div class="row">
                <div class="col-xl-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area mr-1"></i>
                            Total Balance
                        </div>
                        <div class="card-body">
                            <h4 class="mt-2">
                                {{ portfolio.balance / 10000 }}$
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Open Positions
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Ticker</th>
                                <th>Amount</th>
                                <th>Average Buyin Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for position in portfolio.positions %}
                                <tr>
                                    <td>{{ position.ticker }}</td>
                                    <td>{{ position.amount }}</td>
                                    <td>{{ position.averagePrice / 10000 }}$</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}