{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}
{% block body %}
    <main>
        <div class="container">
            <h1 class="mt-4 mb-4">Portfolio</h1>

            <div class="row">
                <div class="col-xl-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            Total Balance
                        </div>
                        <div class="card-body">
                                {{ portfolio.balance / 10000 }}$
                        </div>
                    </div>
                </div>

            </div>
            <div class="card mb-4">
                <div class="card-header">
                    Open Positions
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Ticker</th>
                                <th>Amount</th>
                                <th>Average Buyin Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for position in portfolio.positions %}
                                <tr>
                                    <td>{{ position.ticker }}</td>
                                    <td>{{ position.amount }}</td>
                                    <td>{{ position.averagePrice / 10000 }}$</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}